#values, #readings {
    width: 50%;
    display: inline;
}

#readings td:nth-child(3) {
    text-align: right;
    padding-left: 10px;
}

#freq td:first-child {
    text-align: right;
}

#freq td:nth-child(3) {
    text-align: right;
    padding-right: 20px;
}

#freq td:nth-child(4) {
    text-align: right;
    padding-right: 20px;
}

#freq th:first-child {
    padding-right: 10px;
}

#stemrows td.second {
    text-align: right;
}

#stemrows td.stem {
    text-align: center;
}

#rightleaf {
    text-align: left;
    padding-left: 5px;
}

#leftleaf {
    text-align: right;
    padding-right: 5px;
}

table.text td:first-child {
    text-align: right;
    padding-right: 5px;
}

a.arrow {
    text-decoration: none;
    color: inherit;
    padding-right: 10px;
    float: left;
    max-height: 1em;
    max-width: 1em;
    height: 1em;
    width: 1em;
    overflow: hidden;
}

canvas {
    margin-left: 20px;
    margin-right: 20px;
}

#data_defn_X {
    width: 50%;
    float: left;
}

#data_defn_Y {
    margin-left: 50%;
}

#data_form {
    overflow: hidden;
}

#stats th {
    padding-right: 5px;
}

.data_table td:first-child {
    text-align: right;
}

#corrmathml {
    margin-left: 40px;
    margin-top: 40px;
}

body {
    margin-bottom: 40px;
}